body{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
header{
  background-color: #070707;
}
.main-header{
  display: flex;
  justify-content: space-between;
}
nav li{
  display: inline-block;
}
nav{
  width: 780px;
}
.user-block{
  width: 140px;
}
a{
  text-decoration: none;
  color: white;
}
main{
  background-image: url("../img/main-back.jpg");
  background-size: cover;
  background-color: #070707;
  color: white;
  padding-bottom: 25px;
}
.logo{
  padding-top: 60px;
  margin: 0 auto;
  width: 368px;
  height: 204px;
}
.feature-item{
  width: 300px;
}
.features{
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.index-content{
  background-image: url('../img/index-content.jpg');
  background-color: #f8f5f2;
  color: black;
  padding: 50px 80px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.index-content-item-left{
  width: 380px;
}
.index-content-item-right{
  width: 300px;
}
footer{
  padding-top: 59px;
  padding-bottom: 33px;
  background-image: url('../img/footer.jpg');
  background-color: #232323;
  color: white;
}
.footer{
  display: flex;
  
}
.footer-contacts{
  width: 310px;
  border: inherit;
  margin-right: 60px;
}
.footer-social{
  width: 180px;
  border: inherit;
}
.footer-copyright{
  width: 160px;
  border: inherit;
  margin-left: auto;
}
