body{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}
.btn{
  display: inline-block;
  padding: 10px 30px;
  font: inherit;
  font-size: 14px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000;
  border: none;
  margin-right: 16px;
}
.btn:hover{
  background-color: #663d15;
}
header{
  background-color: #070707;
}
.main-header{
  display: flex;
  justify-content: space-between;
}
.navigation{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.navigation a{
  display: block;
  padding: 25px 20px;
}
.navigation a:hover,
.user-block a:hover{
  background-color: #242424;
}
nav{
  width: 780px;
}
.user-block{
  display: flex;
  max-width: 140px;
}
.user-block a{
  display: block;
  padding: 25px 20px 25px 50px;
  position: relative;
}
.login::before{
  position: absolute;
  top: 27px;
  left: 24px;
  content: '';
  width: 17px;
  height: 18px;
  background-image: url('../img/icon-login.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.login:hover::before{
  opacity: 1;
}
a{
  text-decoration: none;
  color: white;
}
main{
  background-image: url("../img/main-back.jpg");
  background-size: cover;
  background-color: #070707;
  color: white;
  padding-bottom: 25px;
}
.logo{
  padding-top: 60px;
  margin: 0 auto;
  width: 368px;
  height: 204px;
}
.feature-item{
  width: 300px;
  text-align: center;
}
.features{
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.feature-title{
  position: relative;
  margin: 0;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
}
.feature-title::after{
  position: absolute;
  content: '';
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.feature-description{
  margin: 60px 10px 0;
  font-size: 14px;
  line-height: 24px;

}
.index-content{
  background-color: #f8f5f2;
  background-image: url('../img/line.png'), url('../img/index-content.jpg');
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  color: black;
  padding: 50px 80px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}
.index-content h2{
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 25px;
}
.index-content-item-left{
  width: 380px;
}
.index-content-item-right{
  width: 300px;
  border: 1px solid red;
}
.index-content-description{
  padding-bottom: 25px;
}
.index-content-description p{
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
.gallery{
  height: 164px;
  margin: 0;
  background-color: #ccc;
  border: 7px solid #fff;
}
.gallery img{
  width: 286px;
  height: 164px;
}
.gallery-container{
  position: relative;
  height: 262px;
}
.gallery-button{
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}
.gallery-prev{
  left: 0;
}
.gallery-next{
  right: 0;
}
.appointment-form{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appointment-form input{
  box-sizing: border-box;
  width: 140px;
  padding: 8px 15px 7px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000;
}
p.form-item{
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}
.form-item label{
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}
.form-button{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}
footer{
  padding-top: 59px;
  padding-bottom: 33px;
  background-image: url('../img/footer.jpg');
  background-color: #232323;
  color: white;
}
.footer{
  display: flex;

}
.footer-contacts{
  width: 310px;
  border: inherit;
  margin-right: 60px;
}
.footer-social{
  width: 180px;
  border: inherit;
}
.footer-copyright{
  width: 160px;
  border: inherit;
  margin-left: auto;
}
